<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documentation.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png"> 
</head>
<link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}">
            <h1>BSS</h1>
        </div>
        <ul>
            <li onclick="window.location.href='{{ url_for('web_index') }}'">Home</li>
            <!-- Add Flask Navigation to Documentation Page -->
            <li id="active">Documentation</li>
            <li onclick="window.location.href='{{ url_for('web_download') }}'">Download</li>
            <li onclick="window.location.href='{{ url_for('web_register') }}'">Register</li>
        </ul>
    </nav>
    <div class="container">

        <aside>

            <div class="list-container get-started">
                <h1>Get Started</h1>
                <ul>
                    <li id="active">Overview</li>
                    <li>Introduction</li>
                    <li>Quickstart</li>
                    <li>Models</li>
                    <li>Tutorials</li>
                </ul>
            </div>

            <div class="list-container capabilities">
                <h1>Capabilities</h1>
                <ul>
                    <li>Text generation</li>
                    <li>Function calling</li>
                    <li>Embeddings</li>
                    <li>Fine-tuning</li>
                    <li>Image generation</li>
                    <li>Vision</li>
                    <li>Text-to-speech</li>
                    <li>Image generation</li>
                    <li>Speech-to-text</li>
                    <li>Moderations</li>
                </ul>
            </div>

        </aside>

        <section>
            <div class="content"></div>
        </section>
    </div>
</body>

</html>