<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Security System</title>
        <!--    <link rel="stylesheet" href="css/particle.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/particle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png"> 
</head>

<body>
    <header>
        <nav>
            <div class="logo" onclick="window.location.href = '{{ url_for('web_index') }}'">
                <img src="{{ url_for('static', filename='img/logo.png') }}">
                <h1>BSS</h1>
            </div>

            <div class="burger-menu">
            </div>
            
            <ul class="web-nav">
                <li>Home</li>
                <!-- Add Flask Navigation to Documentation Page -->
                <li onclick="window.location.href='{{ url_for('web_documentation') }}'">Documentation</li>
                <li onclick="window.location.href='{{ url_for('web_download') }}'">Download</li>
                <li onclick="window.location.href='{{ url_for('web_register') }}'">Register</li>
            </ul>
        </nav>
        <div class="header-text">
            <p>Introducing</p>
            <h1><span>Blockchain</span> Security System</h1>
            <p class="info">
                The Blockchain Security System is a security solution that looks to use blockchain technology for added protection in the digital realm. By tapping into the decentralized and tamper-resistant features of blockchain, this system aims to improve security measures and address vulnerabilities in different digital ecosystems. While not claiming to be a groundbreaking solution, it strives to bring some added layers of protection to digital assets, transactions, and sensitive information.
            </p>
        </div>
        <div class="header-buttons">
            <!-- Add Flask Navigation to Documentation Page -->
            <button id="docs-button" onclick="window.location.href='{{ url_for('web_documentation') }}'">
                <p>Documentation</p>
            </button>
            <button id="get-started" onclick="window.location.href='{{ url_for('web_register') }}'">Get Started</button>
        </div>
    </header>
        <!-- particles.js container -->
    <div id="particles-js"></div>

    <div class="mobile-nav">
        <div class="close-button">
            <p>+</p>
        </div>
        <ul>
            <li>Home</li>
            <li onclick="window.location.href='{{ url_for('web_documentation') }}'">Documentation</li>
            <li onclick="window.location.href='{{ url_for('web_download') }}'">Download</li>
            <li onclick="window.location.href='{{ url_for('web_register') }}'">Register</li>
        </ul>
    </div>


    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="{{ url_for('static', filename='js/particle.js') }}"></script>

    <script>
        const burgerMenu = document.querySelector('.burger-menu');
        const mobileNav = document.querySelector('.mobile-nav');
        const closeButton = document.querySelector('.close-button');

        burgerMenu.addEventListener('click', function () {
           mobileNav.classList.add('appear');
           document.body.style.overflowY = 'hidden';
          });

        closeButton.addEventListener('click', function () {
            mobileNav.classList.remove('appear');
            document.body.style.overflowY = '';
          });

    </script>
</body>

</html>