<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/particle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png"> 
</head>

<body>
    <header>
        <nav>
            <div class="logo" onclick="window.location.href='{{ url_for('web_index')}}'">
                <img src="{{ url_for('static', filename='img/logo.png') }}">
                <h1>BSS</h1>
            </div>

            <div class="burger-menu"></div>

            <ul class="web-nav">
                <li onclick="window.location.href='{{ url_for('web_index') }}'">Home</li>
                <!-- Add Flask Navigation to Documentation Page -->
                <li onclick="window.location.href='{{ url_for('web_documentation') }}'">Documentation</li>
                <li onclick="window.location.href='{{ url_for('web_download') }}'">Download</li>
                <li id="active">Register</li>
            </ul>
        </nav>
        <div class="container">
            <form action="/register" method="POST" id="userForm">
                <p>Start for free</p>
                <h1>Create new account<span>.</span></h1>
                    <input type="text" name="username" placeholder="Username" required autocomplete="off">
                    <input type="password" name="password" placeholder="Password" required autocomplete="off">
                    <input type="password" name="password-2" placeholder="Re-enter Password" required autocomplete="off">
                <button type="button" onclick="submitForm()">Register</button>
            </form>
        </div>
        <!-- particles.js container -->
        <div id="particles-js"></div> <!-- stats - count particles -->

        <div class="mobile-nav">
            <div class="close-button">
                <p>+</p>
            </div>
            <ul>
                <li onclick="window.location.href='{{ url_for('web_index') }}'">Home</li>
                <li onclick="window.location.href='{{ url_for('web_documentation') }}'">Documentation</li>
                <li onclick="window.location.href='{{ url_for('web_download') }}'">Download</li>
                <li>Register</li>
            </ul>
        </div>

    </header>


    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="{{ url_for('static', filename='js/particle.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/registerjs') }}"></script>-->
<script>
    function submitForm() {
        let form = document.getElementById("userForm");
        let formData = new FormData(form);

        let password = formData.get('password');
        let confirmPassword = formData.get('password-2');

        if(password === confirmPassword){
        fetch('/create_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(formData)),
        })
        .then(response => response.json())
        .then(data => {
            alert('Registration Successful: Congratulations! You have successfully registered.');
            form.reset();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }else {
        alert('Password Mismatch: The passwords entered do not match. Please make sure that the password and the password confirmation match. Ensure that there are no typos and that both entries are identical.');
    }
}

const burgerMenu = document.querySelector('.burger-menu');
        const mobileNav = document.querySelector('.mobile-nav');
        const closeButton = document.querySelector('.close-button');

        burgerMenu.addEventListener('click', function () {
           mobileNav.classList.add('appear');
           document.body.style.overflowY = 'hidden';
          });

        closeButton.addEventListener('click', function () {
            mobileNav.classList.remove('appear');
            document.body.style.overflowY = '';
          });
</script>
</body>

</html>