@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    cursor: default;
    overflow: hidden;
    color: 0d0d23;
}

header {
    width: 100%;
    height: auto !important;
    min-height: 100vh !important;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3.3rem;
    padding-bottom: 1rem;
    padding-top: .7rem;
    z-index: 1;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    z-index: 2
}

nav .logo {
    width: 75px;
    height: 50px;
    display: flex;
    grid-area: 10px;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

nav .logo img {
    width: 40px;
    height: 40px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;
    padding: 5px 0;
    font-size: .9rem
}

nav ul li::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #00ccff;
    transition: all .3s ease;
}

nav ul li:hover::after {
    width: 100%;
    box-shadow: 1px 1px 10px rgb(0, 204, 255);
}

header .header-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

header .header-text h1 {
    font-size: 3.5rem;
    z-index: 2;
}


header .header-text p {
    font-size: .8rem;
    z-index: 2
}

header .header-text .info {
    font-size: .8rem;
    width: 90%;
    margin-top: 1rem;
    z-index: 2;
    line-height: 20px;
}

header .header-text span {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, rgba(0, 255, 255, 0), 255, 255), aqua);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
    animation: glow 2s infinite ease;

}

@keyframes glow {
    50% {
        color: rgba(0, 0, 255, 0);
        -webkit-text-stroke: 1px #0071ce;
    }

    0%,
    100% {
        -webkit-text-stroke: 1px white;
    }
}


header .header-buttons {
    display: flex;
    gap: 10px;
    z-index: 2
}

header .header-buttons button {
    color: #0d0d23;
    border: 1px solid #fff;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 3px;
    transition: all .3s ease;
    position: relative;
    background: white;
}


.header-buttons #get-started:hover {
    background-color: #0d0d23;
    border: 1px solid rgb(0, 204, 255);
    color: white;
}

#docs-button {
    background-color: #0d0d23;
    color: white;
}

#docs-button:hover {
    border: 1px solid rgb(0, 204, 255);
}

.mobile-nav {
    display: none;
}

@media (max-width: 780px) {
    nav {
        padding: 1rem 3%;
    }
    body {
        overflow-y: auto;
    }
    header {
        padding: 1rem 0;
    }
    header .header-text {
        width: 90%;
    }
    .header-text h1 {
        font-size: 3.5rem !important;
    }
    .mobile-nav {
        min-height: 100vh;
        height: 100%;
        width: 0;
        display: none;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: flex-start;
        background-color: #0d0d23;
        z-index: 100;
        flex-direction: column;
        padding: 2rem 20px;
    }
    .mobile-nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 400;
        position: relative;
    }
    .mobile-nav ul li {
        position: relative;
        padding-bottom: 5px;
    }
    
    .mobile-nav li::after {
        width: 0;
        height: 1px;
        background-color: #00ccff;
        box-shadow: 1px 1px 10px rgb(0, 204, 255);
        bottom: 0;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }
    
    .mobile-nav li:hover::after {
        width: 100%;
    }
    .mobile-nav .close-button {
        color: #ffffff;
        display: flex;
        align-items: center;
        font-size: 3rem;
        font-family: sans-serif;
        font-weight: 100;
        transform: rotate(45deg);
        background-color: rgba(149, 149, 149, 0.323);
        padding: 0 13.5px;
        border-radius: 100%;
        margin-bottom: 4rem;
        cursor: pointer;
        transition: background-color .3s ease;
    }
    .mobile-nav .close-button:hover {
        background-color: rgba(149, 149, 149, 0.716);
    }
    .burger-menu {
        width: 25px;
        height: 1.8px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    .burger-menu::before {
        width: 20px;
        height: 1.8px;
        background-color: #ffffff;
        border-radius: 5px;
        content: "";
        position: absolute;
        top: -5px;
        right: 0;
    }
    .burger-menu::after {
        width: 20px;
        height: 1.8px;
        background-color: #ffffff;
        border-radius: 5px;
        content: "";
        position: absolute;
        bottom: -5px;
        right: 0;
    }
    .web-nav {
        display: none;
    }
    header {
        height: 100%;
    }
    .appear {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 550px) {
    nav {
        padding: 5px 10px;
    }
    header {
        gap: 1rem;
    }
    header .header-text p{
        text-align: center;
        width: 100%;
    }
    .header-text h1 {
        font-size: 3.4rem !important;
        text-align: center;
    }
    header .header-text .info {
        width: 100%;
    }
    .header-text {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
    }
}